{{#each posts as |post|}}

 <!-- Developers, why are we using data-id and not just id? -->
  <h1 class="postData" data-id="{{post.id}}"> <small>Animal Type: {{post.animal_type}}</small></h1>
  <div class="handlebars-container">
    <ul>
    <li>
      I saw this animal at: {{post.location}}
  </li>
  <li>
      The date I saw this animal was: {{post.date_seen}}
  </li>
  <li>
      Here's a description of this animal: {{post.description}}
  </li>
  <li>
  <p>Post ID: {{post.id}}</p>
</li>
<li>
  <button id="removePost" data-id="{{post.id}}">Delete</button>
</li>
  </ul>
  <!-- <button class="deletePostPrompt" data-id="{{post.id}}">Delete</button>
  <div class="deleteConfirmation hidden" data-id="{{post.id}}">
    <p>Are you sure you want to delete this entry?</p>
  <button id="removePost" data-id="{{post.id}}">Yes, Delete</button></div> -->
  </div>

{{/each}}
