{{#each posts as |post|}}

 <!-- Developers, why are we using data-id and not just id? -->
  <h1 class="postData" data-id="{{post.id}}"> <small>Animal Type: {{post.animal_type}}</small></h1>
  <div>
    <ul>
    <li>
      I saw this animal at: {{post.location}}
  </li>
  <li>
      The date I saw this animal was: {{post.date_seen}}
  </li>
  <li>
      Here's a description of this animal: {{post.description}}
  </li>
  </ul>
  <button id="removePost">Remove</button>
  </div>

{{/each}}
