{{#each posts as |post|}}

 <!-- Developers, why are we using data-id and not just id? -->
  <div class="handlebars-container col-xs-4">
    <h2 class="postData" data-id="{{post.id}}">Animal: {{post.animal_type}}</h1>
    <ul class="entry-text">
    <li>
      Location of Sighting: {{post.location}}
  </li>
  <li>
      Date of Sighting: {{post.date_seen}}
  </li>
  <li>
      Description of Animal: {{post.description}}
  </li>
  <li>
  <p>Post ID: {{post.id}}</p>
</li>
<li>
  <button id="removePost" data-id="{{post.id}}">Delete</button>
</li>
  </ul>
  <!-- <button class="deletePostPrompt" data-id="{{post.id}}">Delete</button>
  <div class="deleteConfirmation hidden" data-id="{{post.id}}">
    <p>Are you sure you want to delete this entry?</p>
  <button id="removePost" data-id="{{post.id}}">Yes, Delete</button></div> -->
  </div>

{{/each}}
